<p id="notice"><%= notice %></p>

<div class='container fluid buttons'>

<br>

<%= link_to '< Back to Templates', user_templates_path, class: 'btn btn-md btn-primary new_template col-md-2 col-md-offset-0' %>

<br><br>

<h1>Signature Requests for <%= @template.title %></h1>

<h5 class='well'>
  These are Signature Requests that have been created in your Rails application. They create the data for your database tables and form your API calls that can be found in the Signature Request Model.

  <br><br>

  Click "Send Signature Request" to create and send a signature request using the Rails information as the params for the HelloSign API.

  <br><br>

  ** You will NOT be able to send a Signature Request if you have not yet created your Template on HelloSign. That is different than created it on the rails app. **
</h5>

<br>

<table class='table'>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Recipient Name</th>
      <th>Recipient Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signature_requests.each do |signature_request| %>
      <tr>
        <td><%= @template.subject %></td>
        <td><%= signature_request.name %></td>
        <td><%= signature_request.email %></td>
        <td><%= link_to 'View', user_template_signature_request_path(current_user, params[:template_id],signature_request) %></td>
        <td><%= link_to 'Edit', edit_user_template_signature_request_path(current_user, params[:template_id], signature_request) %></td>
        <td><%= link_to 'Delete', user_template_signature_request_path(current_user, params[:template_id], signature_request), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if @template.hellosign_id.nil? %>
          <td><%= link_to 'Create your Template on HelloSign', user_template_path(current_user, @template), class: 'btn btn-md btn-primary' %></td>
        <% else %>
          <td><%= link_to 'Send Signature Request', hellosign_path(signature_request, {template_id: params[:template_id]}), class: 'btn btn-md btn-primary' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Signature request', new_user_template_signature_request_path, class: 'btn btn-md btn-primary new_template col-md-12 col-md-offset-0' %>

</div>