<div class='container fluid buttons'>

  <p id="notice"><%= notice %></p>

  <h1>Listing Templates</h1>

  <table class='table'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Subject</th>
        <th>Message</th>
        <th>File</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @templates.each do |template| %>
        <tr>
          <td><%= template.title %></td>
          <td><%= template.subject %></td>
          <td><%= template.message %></td>
          <td><%= template.file %></td>
          <td><%= link_to 'View', template %></td>
          <td><%= link_to 'Edit', edit_template_path(template) %></td>
          <td><%= link_to 'Delete', template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <%= link_to 'New Template', new_template_path, class: 'btn btn-md btn-primary new_template col-md-12 col-md-offset-0' %>

</div>
