<div class='container fluid buttons'>

<br>

  <p id="notice"><%= notice %></p>

  <h1>Your Templates</h1>

<h5 class='well'>
  These are Templates that have been created in your Rails application. They create the data for your database tables and form your API calls that can be found in the Template Model.

  <br><br>

  Click "view" in order to create the Template on HelloSign.
</h5>

  <table class='table'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Subject</th>
        <th>Message</th>
        <th>File</th>
      </tr>
    </thead>

    <tbody>
      <% @templates.each do |template| %>
        <tr>
          <td><%= template.title %></td>
          <td><%= template.subject %></td>
          <td><%= template.message %></td>
          <td><%= template.file %></td>
          <td><%= link_to 'View', user_template_path(current_user, template) %></td>
          <td><%= link_to 'Delete', user_template_path(current_user, template), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% if template.hellosign_id.nil? %>
            <td><%= link_to 'Create your Template on HelloSign', user_template_path(current_user, template), class: 'btn btn-md btn-primary' %></td>
          <% else %>
            <td><%= link_to 'Edit your Template on HelloSign', user_template_path(current_user, @template), class: 'btn btn-md btn-primary' %></td>
            <td><%= link_to 'View Signature Requests', user_template_signature_requests_path(current_user, template), class: 'btn btn-md btn-primary' %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

    <%= link_to 'New Template', new_user_template_path, class: 'btn btn-md btn-primary new_template col-md-12 col-md-offset-0' %>

</div>
