<div class='container'>

  <p id="notice"><%= notice %></p>

<br>

<h5 class='well'>
  This is a Template that has been created in your Rails application.

  <br><br>

  Use the "Create Template on HelloSign" button to Create your Template using your Rails data and the HelloSign API"

  Use the "Edit this Template on HelloSign" button to Edit your Template using the HelloSign API.

  <br><br>

  You can create requests in the Rails application (not HelloSign) by clicking "Create a Request with this Template", or you can view all existing requests that were made with this template by clicking "View All Signature Requests"
</h5>

  <p>
    <strong>Template ID:</strong>
    <%= @template.id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @template.title %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= @template.subject %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= @template.message %>
  </p>

  <p>
    <strong>Hellosign Template ID:</strong>
    <%= @template.hellosign_id %>
  </p>

  <p>
    <strong>Hellosign Edit URL</strong>
    <%= @template.edit_url %>
  </p>

  <br>

  <div class='buttons'>

      <%= link_to 'Create Template on HelloSign', hellosign_path(@template), class: 'btn btn-md btn-primary' %> |
      <%= link_to 'Edit this Template on HelloSign', edit_hellosign_path(@template), class: 'btn btn-md btn-primary' %> |

    <%= link_to 'Create a Request with this Template', new_template_signature_request_path(@template), class: 'btn btn-md btn-primary' %> |
    <%= link_to 'View All Signature Requests', template_signature_requests_path(@template), class: 'btn btn-md btn-primary' %>
    <br><br>
    <!-- <%= link_to 'Edit this Template', edit_template_path(@template) %> | -->
    <%= link_to 'Back to Templates List', templates_path %>
  </div>

</div>