<div class='container'>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @template.title %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= @template.subject %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= @template.message %>
  </p>

  <p>
    <strong>File:</strong>
    <%= @template.file %>
  </p>

  <div class='buttons'>
    <%= link_to 'Finish Creating Template', hellosign_path(@template), class: 'btn btn-md btn-primary' %> |
    <%= link_to 'Edit this Template', edit_hellosign_path(@template), class: 'btn btn-md btn-primary' %> |
    <%= link_to 'Send Signature Request with this Template', edit_hellosign_path(@template), class: 'btn btn-md btn-primary' %>

    <br><br>
    <!-- <%= link_to 'Edit this Template', edit_template_path(@template) %> | -->
    <%= link_to 'Back to Templates List', templates_path %>
  </div>

</div>